body {
	margin: 0;	
	font-family: Arial, Helvetica, sans-serif;
	min-width: 600px;
}

/*all links on whole page*/
a,p{
	text-decoration: none;
	color: #99badd;
}

/*makes all links red when mouse hover over.  Doesn't apply to strap for some reason*/
a:hover{
	color: red;
	text-decoration: none;
}

/*all h1 headers on whole page*/
h1{
	margin-top: 0;
	text-align: center;
}

/*contains header, name, and contact-resume*/
.strap{
	/*height: 470px;*/
	background-image: url("../imgs/strap_pic.JPG");
	background-color: gray;
	background-repeat: no-repeat;
	padding-top: 10px;
	padding-bottom: 120px;
	/*background-size: cover;*/
	/*overflow: hidden;*/
}

.template-head {
	font-size: 25px;
	text-align: center;
}

/* main navigation links*/
.main-nav a{
	margin-right: 35px;
	margin-left: 35px;
}

/*provisions, name, & second-nav(contact)*/
.info{
	text-align: center;
	margin-top: 60px;
}

#provisions{
	font-size: 25px;
}

/*name at top*/
#name{
	font-size: 60px;
}

/*contact*/
#second-nav{
	font-size: 25px;
	border: solid;
	border-radius: 15px 50px 15px 50px;
	margin-right: 40%;
	margin-left: 40%;
}

#mid-container{
	margin-top: 10px;
	margin-right:10px;
}

#mid-container p{
	margin-right: 10px;
	margin-left: 10px;
}

#mid-container ul{
	padding-left: 15px;
}

#mid-container li{
	margin-top: 10px;
	margin-right: 10px;
	margin-left: 10px;
}

/*Side Content for all pages*/
#sidebar{
	width: 30%;
	float: right;
	border-right: solid;
	border-left: solid;
	border-width: 1px;
	background-color: #99badd;
	margin-bottom: 20px;
	box-shadow:  15px 10px 25px 1px;
}

#sidebar-index{
	width: 30%;
	float: right;
	text-align: center;
	border-right: solid;
	border-left: solid;
	border-width: 1px;
	background-color: #99badd;
	margin-bottom: 20px;
	box-shadow:  15px 10px 25px 1px #A8310A;
}

#sidebar-index h1{
	color: white;
	font-size: 30px;
	margin-bottom: 10px;
}

#sidebar-index iframe{
	width: 90%;
	height: 400px;
	margin-top: 0;
	margin-bottom: 10px;
}

/*main content on left side of index*/
#main{
	margin-right: 30%; 
}

#main p{
	font-weight: bold;
}

#main p:first-letter{
	font-size: 22px;
}

#left-column{
	float: left;
	width: 33.333333%;
}

#middle-column{
	margin-right: 33.333333%;
	margin-left: 33.333333%;
}

#right-column{
	float: right;
	width: 33.333333%;
}

#push{
	clear: both;
	height: 100px;
}

#template-foot{
	padding-top: 15px;
	height: 100px;
	overflow: hidden;
	clear: both;
	font-size: 25px;
	text-align: center;
	border-top-style: groove;
	margin: 15px 250px 0 250px;
}

#template-foot a{
	color: #99badd;
}

#template-foot a:hover{
	color: red;
}

#template-foot p{
	font-size: 12px;
	color: black;
	text-align: center;
	margin-left: 15%;
	margin-right: 15%;
}

/*"About page" styling*/
#aboutPic{
	text-align: center;
	margin: 7px 5px 5px 5px
}

#aboutPic img{
	width: 75%;
	height: 99%;
}

/*"Contact page" styling*/
#mid-container-contact{
	
}

#main-contact{
	margin-top: 20px;
	margin-right: 25%;
	margin-left: 25%;
	border-right: solid;
	border-left: solid;
	border-width: 1px;
	background-color: #99badd;
	margin-bottom: 20px;
	box-shadow:  15px 10px 25px 1px;
	padding: 20px 5px 20px 5px;
}

#main-contact h1{
	color: white;
	font-size: 40px;
}

#main-contact h2{
	color: white
}

#main-contact p{
	color: white;
	font-size: 30px;
	text-align: center;
}

/*"Blog page" styling*/
#mid-container-blog{
	margin: 20px;
}

#blog{
	text-align: center;
}

#blog iframe{
	width: 50%;
	height: 400px;
	box-shadow:  15px 10px 25px 1px #A8310A;
}

/*"Calculator page" styling*/
#calc{
	border: solid;
	border-color: #99badd;
	height: 500px;
	width: 400px;
	border-radius: 10px;
	margin: 20px auto 20px auto;
	background-color: gray;
}

#calc-window{
	border-radius: 5px 5px 0 0;
	margin: 5px;
	background-color: white;
	height: 40px;
}

#calc-operators{
	float: right;
	width: 95px;
	border: solid;
	border-width: 1px;
	border-color: #99badd;
	text-align: center;
}

.operator-button{
	margin: 15px;
	border: solid;
	border-color: white;
	width: 40px;
	height: 24px;
	text-align: center;
	display: inline-block;
}

.operator-button p{
	margin: auto;
	padding-top: 2%;
	padding-bottom: 2%;
}

#calc-numbers{
	border: solid;
	border-width: 1px;
	border-color: #99badd;
	width: 300px;
	text-align: center;
}

.number-button{
	margin: 15px;
	border: solid;
	border-color: white;
	width: 60px;
	height: 60px;
	text-align: center;
	display: inline-block;
}

.number-button p{
	margin: auto;
	padding-top: 35%;
	padding-bottom: 35%;
}



