<div class="clearfix">
    <div class="col-sm-6 col-sm-offset-3">
        <h1 class="name text-center">{{bakedTurkeyWrap.name}}</h1>
    </div>
</div>
<div class="clearfix">
    <div class="col-sm-6 col-sm-offset-3">
        <img class="meal-image img-responsive" src="../assets/images/{{bakedTurkeyWrap.imageUrl}}">
        <hr width="100px" class="text-center divider">
        <hr width="50px" class="text-center divider">
    </div>
</div>
<div class="container">
    <div class="clearfix">
                <div class="col-sm-3">
                    <h3 class="meal-left-column">Description:</h3>
                </div>
                <div class="col-sm-9">
                    <p class="meal-right-column">{{bakedTurkeyWrap.description}}</p>
                </div>
    </div>
    
    
</div>
