#upload-container{
    background-color: #4B9CD332;
    min-height: 200px;
    color: #4B9CD3;
    padding: 2em;
}
.small-divider{
    width: 100%;
    border: solid 0.3em #4B9CD3;
}
p{
    font-size: 1em;
    color: #4B9CD3;
}
.error-message{
    color: red;
    font-size: 0.7em;
}
button{
    background-color: #4B9CD3;
}
button:hover{
    background-color: white;
    border-color: #4B9CD3;
    cursor: pointer;
}

