.pic-container{
    position: absolute;
    top: 0;
    left: 50%;
    border-radius: 20px;
    border: 200px solid #cecece99;
    border-top-width: 100px;
    z-index: 1000;
    margin-left: -35%;
    width: 70%;
}
.preview-pic{
    z-index: 1001;
    min-width: 300px;
    width: 100%;
}
.preview-buttons{
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 1002;
    width: 200px;
    margin-left: -100px;
    text-align: center;
}
.preview-button{
    background-color: #ffffff;
    border-radius: 5px;
}
.preview-button a{
    color: #000000;
}
.preview-button a:hover{
    background-color: #4B9CD3;
    color: #ffffff;
    text-decoration: none;
}
.preview-button:hover{
    background-color: #4B9CD3;
    color: #ffffff;
    cursor: pointer;
}
.preview-button:active{
    outline: none;
}
.preview-button:focus{
    outline: none;
}
.details{
    position: absolute;
    min-width: 200px;
    top: 40px;
    left: 0;
    border: 1px solid #e6e6e6;
    padding: 0;
    box-shadow: 0 0 2px 2px #b3b3b3;
    background-color: #ffffff99;
    font-size: 0.8em;
}
.align-right{
    text-align: right;
    max-width: 150px;
    word-wrap: break-word;
}
@media screen and (max-width: 890px){
    .pic-container{
        width: 100%;
        left: 0;
        margin-left: 0;
        border-width: 20px 20px 150px 20px;
        border-radius: 0;
    }
    
}
@media screen and (max-width: 600px){
    .pic-container{
       border-top-width: 150px;
    }
    
}