<div class="clearfix">
    <div class="col-xs-4">
      <a href="../chicken"><button class="btn">Chicken</button></a>
    </div>
    <div class="col-xs-4">
      <a href=""><button class="btn">Turkey</button></a>
    </div>
    <div class="col-xs-4">
      <a href=""><button class="btn">Duck</button></a>
    </div>
</div>
<div class="clearfix">
    <div class="col-xs-4">
      <a href=""><button class="btn">Quail</button></a>
    </div>
    <div class="col-xs-4">
      <a href=""><button class="btn">Cow</button></a>
    </div>
    <div class="col-xs-4">
      <a href=""><button class="btn">Bison</button></a>
    </div>
</div>
<div class="clearfix">
    <div class="col-xs-4">
      <a href=""><button class="btn">Pig</button></a>
    </div>
    <div class="col-xs-4">
      <a href=""><button class="btn">Lamb</button></a>
    </div>
    <div class="col-xs-4">
      <a href=""><button class="btn">Fish</button></a>
    </div>
</div>