button{
    height: 80px;
    border: 1px solid lightgray;
    background-color: #663300;
    width: 98%;
    margin-bottom: 10px;
    font-size: 20px;
    color: rgba(149,160,20,1);
}
button:focus{
    outline: none;
    user-select: none;
}
button:hover{
    color: rgba(160, 183, 201,1);
}
@media screen and (max-width: 767px){
    button{
        font-size: 15px;
    }
}