<div class='row'>
  <header>
    <nav id='nav-pop' class=''>
      <button id='menu-button'><div id='inner-button'>Menu</div></button>
      <ul id='nav-list' class='hide'>
        <li><button><a href='/home'>Home</a></button></li>
        <li><button><a href='/about'>About</a></button></li>
        <li><button><a href='/portfolio'>Portfolio</a></button></li>
        <li><button><a href='../assets/docs/IT_Resume(NHCS).pdf'>Resume</a></button></li>	
        <li><button><a href='/contact'>Contact</a></button></li>
      </ul>
    </nav>
  </header>
</div>

