.items{
    padding-top: 100px;
}
.item{
    height: 200px;
    text-align: center;
    margin-bottom: 50px;
}
.item a{
    height: 100%;
    width: 100%;
    display: block;
    border: thin black solid;
    padding-top: 50px;
}
.circle{
    border-radius: 100%;
}
.semi{
    border-radius: 0 0 100% 100%;
}
