<!-- top container for header, name, and contact-resume -->
<div class='row'>			
	<div class='jumbotron strap' style='border-radius:0;'>
		<!-- header, contains nav bar and contact info -->
		<header class='hastings-header'>
			<nav class='main-nav'>
				<a href='/home'>Home</a>
				<a href='secondary_pages/about.html'>About</a>
				<a href='secondary_pages/blog.html'>Portfolio</a>
				<a href='docs/IT_Resume(NHCS).pdf'>Resume</a>	
			</nav>
			<!-- contact info -->
			<div id='my-info'>
				<p id='my-job'>Website Design and Development</p>
				<p id='my-name'>Larry Hastings</p>
				<nav id='my-contact-link'>
					<a href='/contact'>Contact</a>
				</nav>
			</div>
		</header>
	</div>
</div>
