.contact-container{
    background-image: url("../../assets/contact-background.jpg");
    background-color: #7f7959;
    background-size: 100% 100%;
    height: 200px;
    border-radius: 3%;
}
.contact-info{
    text-align: right;
    background-color: #7f7959;
    border-radius: 3%;
    opacity: 0.8;
    height: 100%;
    padding-top: 1em;
}
h5{
    font-size: 1.3em;
}
li{
    color: white;
    font-size: 0.8em;
}
.address{
    color: inherit;
}
