<title>Larry Hastings</title>
<app-header></app-header>
<div class="row">
	<section class="left-home col-md-8">
	</section>

	<section class="col-md-4"><!-- side content on right side -->	
		<aside  class="col-md-11">
			<h1>Blog</h1>
			<iframe src="https://hastingslweb2.wordpress.com/"></iframe>
		</aside>
	</section> <!-- end home-aside -->
</div>


					<!--<section id="home-left-container" class="col-md-8  col-xs-12">
						<div class="col-md-4  col-xs-12">		
							<h1>Web Design</h1>
							<p>The visual layout and style of your website is important.  There are many
								aspects that must be thought about during the planning phase such as branding,
								strategy, and appealing content, but a website also needs to serve as a business
								function because it is ultimately where potential customers, partners, employees, 
								or investors get their initial impression.  That impression may either keep them 
								coming back or turn them away for good.  I believe a website should be simple and 
								pleasing to look at while serving its purpose with a layout that makes it easy for
								the end-user to find necessary information, interact with business resources, and, 
								ultimately, promote the interests of the owning organization.</p>							
						</div> 
				
						<div class="col-md-4  col-xs-12">
							<h1>Web Deployment</h1>
							<p>Where or how will you host your website?  There are many options, but it comes 
								down your needs and requirements.  I can advise and provide options for
								your unique situation.  Below are some general options for website 
								deployments, but there are many different and detailed solutions 
								from different vendors including various operating systems and hardware 
								to host your website.</p>
							<ul>
								<li>Managed In-House Server</li>
								<li>Managed Cloud Server</li>
								<li>Non-managed Cloud Provider</li>
							</ul>
						</div> 

						<div class="col-md-4  col-xs-12">
							<h1>Web Optimization</h1>
							<p>Using good practices and anlytics to increase traffic to your website is the 
								best way to spread your message and introduce new users to your products.  
								Analytics are important becuase one can view statistical reports, analyze 
								activity, and find mistakes, which ultimately lead to product enhancements.  
								Below are some common technical terms used in website optimization.</p>
							<ul>
								<li>Search Engine Optimization (SEO)</li>
								<li>User Experience (UX)</li>
								<li>User Interface (UI)</li>
								<li>Web Analytics</li>
								<li>Web Governance</li>
							</ul>
						</div>
					-->



