#welcome h1{
    text-align: center;
    text-shadow:    -1px -1px 0 white,
                    1px -1px 0 white,
                    -1px 1px 0 white,
                    1px 1px 0 white;
}
#welcome p{
    font-size: 15px;
    color: lightgray;
}
#favorites{
    border: thin solid white;
    height: 500px;
}
#categories{
    border: thin solid white;
    height: 500px;
}

/*class from favorite list*/
.favorite-row{
    border: thin solid white;
}