<div class="font-sizer">
    <div class="background">
        <h1 class="name">My Groovy picture library</h1>
        <div class="container">
          <div class="row">
            <div class="col-sm-12 placeholder">
      
                <div class="row">
                  <div class="col-sm-6 left-half">
                    <div class="row search">
                      <div class="col-sm-12">
      
                      </div>
                    </div>
                    <div class="row search-results">
                        <div class="col-sm-12">
                          
                        </div>
                    </div>
                  </div>
      
                  <div class="col-sm-6 right-half">
      
                  </div>
                </div>
      
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row submit-pic">
          <div class="col-sm-12">
            <div class="row">
              <div class="col-sm-6 form">
      
              </div>
              <div class="col-sm-6 preview">
                  
              </div>
            </div>
          </div>
        </div>
      </div>
</div>


