<div class="font-sizer">
    <div class="background">
        <h1 class="name">My Groovy picture library</h1>
        <section class="container">
          <div class="row">
            <div class="col-sm-12 placeholder">
      
                <div class="row">
                  <div class="col-sm-6 left-half">
                    <div class="row search">
                      <div class="col-sm-12">
      
                      </div>
                    </div>
                    <div class="row search-results">
                        <div class="col-sm-12">
                          
                        </div>
                    </div>
                  </div>
      
                  <div class="col-sm-6 right-half">
      
                  </div>
                </div>
      
            </div>
          </div>
        </section>
      </div>
      <h2>Contribute Photos</h2>
      <section class="container submit-pic">
        <div class="row">
          <div class="col-sm-6 input-form">
              <app-input-form>...Loading</app-input-form>
          </div>
          <div class="col-sm-6">
              <app-preview>...Loading</app-preview>
          </div>
        </div>    
              
              
      </section>
</div>


