<div class="font-sizer">
    <div class="background">
        <h1 class="name">My Groovy picture library</h1>
        <section class="container search-container">
          <div class="row">
            <div class="col-12">
              <app-search>...Loading</app-search>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
                  <app-search-results>...Loading</app-search-results>
            </div>
          </div>
        </section>
    </div>
      <h2>Contribute Photos</h2>
      <section class="container submit-pic">
          <div class="input-form">
              <app-input-form>...Loading</app-input-form>
          </div>    
      </section>
</div>


