/*"Calculator page" styling*/
#calc{
	border: solid;
	border-color: #99badd;
	height: 325px;
	width: 320px;
	border-radius: 10px;
	margin-bottom: 40px;
}

#calc-window{
	border-radius: 5px 5px 0 0;
	margin: 5px;
	padding-left: 5px;
	padding-right: 5px;
	color: white;
	height: 40px;
	font-size: 30px;

}

#calc-operators{
	float: right;
	width: 95px;
	border: solid;
	border-width: 1px;
	border-color: #99badd;
	text-align: center;
}

.operator-button{
	margin: 15px;
	border: solid;
	border-color: white;
	width: 40px;
	height: 24px;
	text-align: center;
	display: inline-block;
}

.operator-button p{
	margin: auto;
	padding-top: 2%;
	padding-bottom: 2%;
	color: white;
}

#calc-numbers{
	width: 300px;
	text-align: center;
	color: white;
}

.number-button{
	margin: 15px;
	border: solid;
	border-color: white;
	width: 40px;
	height: 40px;
	text-align: center;
	display: inline-block;
}

.number-button p{
	margin: auto;
	padding-top: 35%;
	padding-bottom: 35%;
}