<title>Contact</title>
<app-header-small></app-header-small>
<div class="row">
  <div class="message container col-md-8 col-md-offset-2">
    <p>Hello, thank you for visiting my site.  Please use the contact form below to get in touch with me.  Be assured, if you are legitimate in your inquiry, I will promptly make contact with you using the supplied email.  Have a wonderful day!</p>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">

  Practice SKU Form
  <div class="">
    <h2 class="">Demo Form: Sku</h2>
    <form #f="ngForm" (ngSubmit)="onSubmit(f.value)" class="">
      <div class="field">
          <label for="skuInput">SKU</label>
          <input type="text" id="skuInput" placeholder="SKU" name="sku" ngModel>
      </div>
      <button type="submit" class="">Submit</button>
    </form>
  </div>

  <!--Advanced SKU using FormBuilder-->
  <div class="">
    <h2 class="">Demo Form: Sku with Builder</h2>
    <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm.value)" class="">
      <div class="field">
          <label for="skuInput">SKU</label>
          <input type="text" id="skuInput" placeholder="SKU" [formControl]="myForm.controls['sku']">
      </div>
      <button type="submit" class="">Submit</button>
      <div *ngIf="sku.touched" class="message">SKU is invalid</div>
    </form>
  </div>

  </div>
</div>