<div class="row">
  <div class="message container col-md-8 col-md-offset-2">
    <p>Hello, thank you for visiting my site.  Please use the contact form below to get in touch with me.  Be assured, if you are legitimate in your inquiry, I will promptly make contact with you using the supplied email.  Have a wonderful day!</p>
  </div>
</div>
<div class="row">
  <!--Demo Form1-->
  <form #f="ngForm" (ngSubmit)="onSubmit(f.value)" class="col-md-8 col-md-offset-2"><!-- Add class us form ???-->
    <div class="field">
      <label for="skuInput">SKU</label>
      <input type="text" id="skuInput" placeholder="SKU" name="sku" ngModel>
    </div>
      
  </form>





</div>